<header>
        {% if site.hire %}
        <div class="absolute top-0 left-0 right-0 py-2 bg-blue-600 text-white text-center shadow-lg drop-shadow">
                I'm available for freelance work!
        </div>
        {% endif %}
        <nav class="flex justify-between items-center container mx-auto">
                <a href="/">Patrick Whitehouse 👋🏻</a>
                <ul class="flex">
                        <li class="mr-5"><a class="underline" href="/work">Work</a></li>
                        <li class="mr-5"><a class="underline" href="/blog">Blog</a></li>
                        <li><a href="https://twitter.com/patrickdoesweb" class="underline" target="_blank">Contact</a>
                        </li>
                </ul>
        </nav>
</header>