<header>
        <nav class="flex justify-between items-center">
                <a href="/">Patrick Whitehouse 👋🏻</a>
                <!-- <ul class="flex">
			<li class="mr-5"><a class="underline" href="/work">Work</a></li>
			<li><a class="underline" href="/blog">Blog</a></li>
		</ul> -->
        </nav>
</header>