---
layout: template.njk
title: Maid About Town
ogtype: article
---
<h1>Maid About Town</h1>
<h2 class="my-5">Case study for domestic and commercial cleaners, Maid About Town</h2>
<div class="my-5 py-8 px-10 rounded-md bg-blue-200 inline-block text-lg max-w-prose font-medium">
    <ul>
        <li class="my-2">
            <span>Problem:</span>
            <span>Maid About Town had zero presence online.</span>
        </li>
        <li class="my-2">
            <span>Solution:</span>
            <span>A custom static site to showcase and advertise their services.</span>
        </li>
        <li class="my-2">
            <span>Results:</span>
            <span>Company growth, which consisted of both clients and employees.</span>
        </li>
    </ul>
</div>