---
layout: project-template.njk
title: Maid About Town
ogtype: article
details:
    problem: Maid About Town had zero presence online.
    solution: A custom static site to showcase and advertise their services.
    results: Company growth, which consisted of both clients and employees.
    url: https://maidabouttown.cleaning
---
<h1>Maid About Town</h1>
<h2 class="my-5">Case study for domestic and commercial cleaners, Maid About Town</h2>
<h3 class="underline mb-5">Problem</h3>
        <p class="mt-0">
            Claire, the owner of Maid About Town came to me back in 2016 for a website build.
        </p>
        <p>
            The requirements were extremely simple. She wanted a basic, clean (no pun intended) and functional website
            that she could use to showcase her recent work, alongside the services her company offers to both the public
            and companies.
        </p>
        <p>I did some research which included looking at potential competitors within the area and also national
            cleaning companies. The reason I looked into both was so that I had an idea on what local companies websites
            were doing badly and also what national companies were doing good. </p>
        <h3 class="underline mb-5">Solution</h3>
        <p>From the research above, I put forward my design ideas to Claire and which were given the go ahead.</p>
        <p>
            {% image "./src/case-studies/maid-about-town/screenshot.png", "", "Maid About Town homepage screenshot",
            "(min-width: 1024px) 50vw, 100vw" %}
        </p>
        <h3 class="underline mb-5">Results</h3>
        <p>
            Claire was over the moon with the new website and has since gained new clients as a result of it. Claire has also had to take on new employees to keep up with the work load! Fantastic news.
        </p>
        

