---
layout: template.njk
title: Maid About Town
ogtype: article
---
<h1>Maid About Town</h1>
<h2 class="my-5">Case study for domestic and commercial cleaners, Maid About Town</h2>
<div class="flex flex-col case-study-grid gap-12">
    <div class="my-5 order-2 lg:order-1">
        <p class="mt-0">
            Claire, the owner of Maid About Town came to me back in 2016 for a website build.
        </p>
        <p>
            The requirements were extremely simple. She wanted a basic, clean (no pun intended) and functional website that she could use to showcase her recent work, alongside the services her company offers to both the public and companies.
        </p>
        <p>I did some research which included looking at potential competitors within the area and also national cleaning companies. The reason I looked into both was so that I had an idea on what local companies websites were doing badly and also what national companies were doing good. </p>
        <p>From the research above, I put forward my design ideas to Claire and which were given the go ahead.</p>
        <p>
            {% image "./src/case-studies/maid-about-town/screenshot.png", "Maid About Town homepage screenshot" %}
        </p>
    </div>
    <div class="order-1 lg:order-2 my-5 py-8 px-10 lg:sticky lg:top-8 rounded-md bg-blue-200 inline-block text-lg max-w-prose font-medium filter drop-shadow-sm">
        <ul>
            <li class="my-2">
                <span>Problem:</span>
                <span>Maid About Town had zero presence online.</span>
            </li>
            <li class="my-2">
                <span>Solution:</span>
                <span>A custom static site to showcase and advertise their services.</span>
            </li>
            <li class="my-2">
                <span>Results:</span>
                <span>Company growth, which consisted of both clients and employees.</span>
            </li>
        </ul>
    </div>
</div>
