@tailwind base;

@tailwind components;

@tailwind utilities;

p {
  @apply my-8;
}

h1 {
  @apply text-4xl;
}

@screen lg {
  h1 {
    @apply text-6xl;
  }
}

p > a {
  @apply italic underline text-blue-500;
}

.case-study-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: flex-start;
}
