---
layout: template.njk
title: Blog
description: Blog posts about web development, tech and life by Patrick Whitehouse
---
<h1 class="mb-5">Blog</h1>
<p>I'm not the best story teller in the world if I'm honest, but I've given it a go by writing some blog
        posts about the tech I'm currently learning, or random events that have happened in my life.</p>
<div class="my-5">
        <span class="mb-5 inline-block">Posts:</span>
        <ul>
                {%- for post in collections.post | reverse -%}
                <li class="relative mb-5">
                                <a href="{{ post.url }}" class="cursor-pointer">{{ post.data.title }}</a> - 
                                <small class="mt-5 text-sm italic">Published on: {{ post.date.toLocaleDateString('en-GB') }}</small>
                        
                </li>
                {%- endfor -%}
        </ul>
</div>