---
layout: template.njk
title: Blog
description: Blog posts about web development, tech and life by Patrick Whitehouse
---
<h1 class="mb-5">Blog</h1>
<p>I'm not the best story teller in the world if I'm honest, but I've given it a go by writing some blog
        posts.</p>
<div class="my-5">
        <ul class="grid gap-8 lg:grid-cols-2">
                {%- for post in collections.post -%}
                <li class="relative">
                        <div class="absolute filter -inset-0.5 opacity-75 blur-md bg-gradient-to-r from-pink-600 to-yellow-600 rounded-lg"></div>
                        <div class="relative flex flex-col justify-center items-center bg-gray-900 text-white py-16 px-8 text-center font-medium rounded-lg dark:bg-gray-800">
                                <a href="{{ post.url }}" class="cursor-pointer">{{ post.data.title }}</a>
                                <small class="mt-5">Published on: {{ post.date.toLocaleDateString() }}</small>
                        </div>

                </li>
                {%- endfor -%}
        </ul>
</div>