---
layout: template.njk
title: Blog
description: Blog posts about web development, tech and life by Patrick Whitehouse
---
<h1 class="mb-5">Blog</h1>
<p>I'm not the best story teller in the world if I'm honest, but I've given it a go by writing some blog
        posts.</p>
<div class="my-5">
        <ul class="grid gap-4 lg:grid-cols-2">
                {%- for post in collections.post -%}
                <li
                        class="flex justify-center items-center bg-gray-900 text-white py-16 px-8 hover:shadow-xl cursor-pointer transition-shadow text-center font-medium dark:bg-white dark:text-gray-900">
                        <a href="{{ post.url }}">{{ post.data.title }}</a>
                </li>
                {%- endfor -%}
        </ul>
</div>