---
layout: template.njk
ogtype: website
---
<div class="lg:grid lg:grid-cols-2 lg:items-center">
  <div>
    <img src="./img/portrait.jpg" alt="Portait of Patrick and his friends"
      class="w-9/12 max-w-full my-12 mx-auto filter saturate-0 md:w-1/2 lg:w-auto" width="100%" height="100%">
  </div>
  <div>
    <h1 class="mb-5">Hey, I'm Patrick</h1>
    <p>I'm a front end Magento developer based in Manchester, UK. I have over 4 years experience developing
      Magento 2 storefronts for leading industry brands.</p>
    <p>I have a huge interest in tech, games (mainly Warzone 🤭) and anything that uses petrol and has an
      engine. Yes, I'm a <a rel="noopener" href="https://www.google.com/search?q=petrolhead"
        target="_blank">petrolhead.</a></p>
    <p>
      I'm always looking into the latest tech and how I can use them to increase productivity and improve results. I've
      therefore built this site using:
    <ul class="list-disc list-inside">
      <li>11ty - Static site generator</li>
      <li>Tailwind CSS - A utility-first CSS framework</li>
      <li>Netlify - God send hosting</li>
    </ul>
    </p>
  </div>
</div>